.about {
  position: absolute;
  font-size: 1.4rem;
  top: 0;
  left: 0;
  width: 30%;
  min-height: 100vh;
  padding: 2px;
  background: $color-4;
  border: 0px;
  //pointer-events: none;
  z-index: 100;
  padding: 2rem;
  @media (orientation: portrait) {
    width: 100%;
    //min-height: 50%;
    overflow: scroll;
  }
  &__slider {
    width: 100%;
    height: 25px;
    appearance: none;
    background: $color-2;
    margin: 1rem 0;
    outline: none;
    opacity: 0.8;
    border: 1px solid $color-5;
    margin-bottom: 1rem;
    &:hover {
      opacity: 1;
    }
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 2.5rem;
      height: 2.5rem;
      background: $color-3;
      cursor: pointer;
      border: none;
      border-radius: 0;
    }
    &::-moz-range-thumb {
      width: 2.5rem;
      height: 2.5rem;
      background: $color-3;
      cursor: pointer;
      border: none;
      border-radius: 0;
    }
    &::-ms-thumb {
      width: 2.5rem;
      height: 2.5rem;
      background: $color-3;
      cursor: pointer;
      border: none;
      border-radius: 0;
    }
  }
  h1,
  h2 {
    font-weight: 100;
    color: $color-3;
    margin-bottom: 0.7rem;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    margin-top: 2rem;
  }
  p {
    font-size: 1.5rem;
    margin-bottom: 0.7rem;
  }

  a {
    color: $color-3;
    text-decoration: none;
    font-size: 1.6rem;
    border-bottom: 1px dotted $color-3;
    &:hover {
      color: $color-5;
      border-bottom: 1px solid $color-5;
    }
  }
  &__btn {
    display: block;
    cursor: pointer;
    border: none;
    outline: none;
    margin: 1rem auto;
    font-family: $font;
    color: $color-2;
    width: 25rem;
    font-weight: 300;
    font-size: 1.5rem;
    background-color: $color-3;
    border: none;
    border-radius: 3px;
    padding: 1rem 2rem;
    box-shadow: 1px 1px 2px 0 $color-5;
    text-shadow: 0px 1px 0px $color-1;
    &:hover {
      background-color: $color-6;
    }
  }
  &__close {
    font-family: $font;
    font-size: 3rem;
    font-weight: 100;
    float: right;
    cursor: pointer;
    border: none;
    outline: none;
    width: 5rem;
    height: 5rem;
    background-color: transparent;
  }
  &__color {
    font-size: 1.4rem;
    font-family: $font;
    width: 100%;
    height: 25px;
    border: 1px solid $color-5;
    outline: none;
  }
}
