.mindmap {
  width: 70%;
  @media (orientation: portrait) {
    width: 100%;
  }
  svg {
    width: 100%;
    height: 100%;
    cursor: Move;
    position: relative;
  }

  .node text {
    //font-size: 13px;
  }

  .node--internal text {
    paint-order: stroke;
    stroke: $color-2;
    stroke-width: 1em;
  }

  .link {
    //fill: none;
    //stroke: $color-5;
    //stroke-opacity: 0.3;
    stroke-linecap: round;
    stroke-width: 1px;
  }
}
