.note {
  position: absolute;
  font-size: 1.5rem;
  top: 0;
  left: 0;
  width: 30%;
  min-height: 100vh;
  padding: 2px;
  background: $color-4;
  border: 0px;
  //pointer-events: none;
  z-index: 100;
  padding: 2rem;
  @media (orientation: portrait) {
    min-height: 50vh;
    height: 50vh;
    width: 100%;
    overflow: scroll;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 100;
    color: $color-3;
    margin-bottom: 0.7rem;
  }
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 1.5rem;
  }
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.8rem;
  }
  h3 {
    font-size: 2.5rem;
  }
  h4 {
    font-size: 2.2rem;
  }
  h5 {
    font-size: 1.9rem;
  }
  h6 {
    font-size: 1.6rem;
  }

  p {
    margin-bottom: 0.7rem;
    line-height: 1.3;
  }

  img {
    width: 100%;
    height: auto;
  }
  a {
    color: $color-3;
    text-decoration: none;
    font-size: 1.6rem;
    border-bottom: 1px dotted $color-3;
    &:hover {
      color: $color-5;
      border-bottom: 1px solid $color-5;
    }
  }
}
